*{
    padding: 0;
    margin: 0;
}


#navbar {
    display: flex;
    align-items: center;
    opacity: 0.8;
    
}

#logo {
    border-radius: 25px 25px;
}


#logo img{
    height: 70px;
    margin: 5px 5px;
    border-radius: 50px ;

    
}

#navbar ul{
    display: flex;
}

#navbar ::before{
    content: "";
    background-color: rgb(7, 6, 6);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
   
      
}
#navbar ul li{
    color: aliceblue;
    list-style: none;
    font-size: 1.2rem;
}

#navbar ul li a{
    color: azure;
    display: block;
    padding: 3px 18px;
    border-radius: 25px;
    text-decoration: none;
}

#navbar ul li a :hover{
    color: black;
    background-color: aliceblue;
    
}